.Messages{
    height: auto;
}

.Messages-newMessage{
    height: 300px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.Messages-allMessages{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.Messages-Text{
    height: 50px;
    border-radius: 10px;    
}

.Messages-Button{
    width: 90px;
    border-radius: 5px;
}

.Messages-Message{
    height: 200px;
    width: 400px;
    background-color: white;
    border: 4px solid rgb(197, 196, 196);
}